body{
	background-color: lightgrey;
	background-image: url("back.jpg");
}

h1{
	color: darkred;
	font-size: 90px;
	text-decoration: underline;

}
h2{
	color: darkred;
	font-size: 25px;
	font-display: block;
}
span{
	font-style: italic;
}
h2 span{
	text-decoration: ;
}